<%= render partial: "shared/section_colour" %>
<% if @article.nil? %>
    <h2>This article could not be found.</h2>
<% else %>
    <% set_title(@article.title) %>
    <h2 style="margin-bottom: 0.25ch;"><%= @article.title %></h2>
    <small>
        <%= "By #{@article.author}, " if !@article.author.nil? %>
        <i>Last Edited <%= @article.updated_at.strftime("%Y %B %e") %></i><br/>
    </small>
    <%= to_markdown @article.content %>
<% end %>
