<%= render partial: "shared/section_colour" %>
<% set_title("Projects") %>
<%= to_markdown "## projects" %>
<% Project.all.order(deprecated: :asc, precedence: :desc).each do |p| %>
  <% if p.deprecated %>
    <p><a class="disabled entry">
  <% else %>
    <p><a href="<%= p.link %>" class="entry">
  <% end %>
      <b class="text">
          <%= p.name %>
      </b>
      <% if p.deprecated %><small><b>(Deprecated)</b></small><% end %>
      <br/>
      <small>
        <%= p.content %>
      </small>
    </a></p>
<% end %>
