<!DOCTYPE html>
<html>
  <head>
    <title><%= get_title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= render "shared/transition_styles" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= "open" if @closed != true %>">
    <div id="spacer"></div>
    <%= render "profile" %>
    <div id="name"><%= link_to "Dylan Thinnes", "/", class: "reset" %></div>
    <div id="social">
      <style>
/* section colourings */
<% base_colours.each do |key, value| %>
.<%= key %>-bg {
    background-color: <%= value %>;
}
<% end %>
      </style>
      <%= link_to " contact ",  contact_path,  class: "contact-bg"  %>
      <%= link_to " projects ", projects_path, class: "projects-bg" %>
      <%= link_to " blog ",     blog_path,     class: "blog-bg"     %>
      <%= link_to " about ",    about_path,    class: "about-bg"     %>
    </div>
    <div id="blurb">I am a student of Comp Sci at the University of Edinburgh.<br/>In my spare time, I enjoy camping, Aikido, and coding.</div>
    <div id="content">
      <div class="section selected" data-url="<%= request.path %>">
        <title><%= get_title %></title>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
