<!DOCTYPE html>
<html>
  <head>
    <title><%= get_title %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= "open" if @closed != true %>">
    <div id="spacer"></div>
    <%= render "profile" if action_name == "index" %>
    <div id="name">Dylan Thinnes</div>
    <div id="social">
      <style>
/* section colourings */
<% colours.each do |key, value| %>
.<%= key %>-bg {
    background-color: <%= value %>;
}
<% end %>
      </style>
      <%= link_to " contact ",  contact_path,  class: "contact-bg"  %>
      <%= link_to " projects ", projects_path, class: "projects-bg" %>
      <%= link_to " blog ",     blog_path,     class: "blog-bg"     %>
    </div>
    <div id="blurb">I am a student of Comp Sci at the University of Edinburgh.<br/>In my spare time, I enjoy camping, Aikido, and coding.</div>
    <div id="content">
      <div class="section selected" data-url="<%= request.path %>">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
