<!DOCTYPE html>
<html>
  <head>
    <title>MeTwo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= "open" if @closed != true %>">
    <div id="spacer"></div>
    <div id="profile"></div>
    <div id="name">Dylan Thinnes</div>
    <div id="social">
      <%= link_to " contact ", contact_path, class: "contact-bg" %>
      <%= link_to " projects ", projects_path, class: "projects-bg" %>
      <%= link_to " blog ", blog_path, class: "blog-bg" %>
    </div>
    <div id="blurb">I am a student of Comp Sci at the University of Edinburgh.<br/>In my spare time, I enjoy camping, Aikido, and coding.</div>
    <div id="content">
      <div class="section main-border selected">
        <%= render "shared/styling" %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
